<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+LogProp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="interface">
            <h1 class="titulo-principal">+LogProp</h1>
            <div class="botoes">
                <a href="{{ url_for('entrar') }}" class="botao entrar">Entrar</a>
                <a href="{{ url_for('cadastrar') }}" class="botao cadastrar">Cadastra-se</a>
            </div>
        </div>
    </header>
    
    <main>
        <section class="bem-vindo">
            <div class="interface">
                <div class="flex">
                    <div class="txt-bem-vindo">
                        <h1>Bem vindo ao +LogProp</h1>
                        <p>Aprenda Matemática Discreta na prática e domine os fundamentos que impulsionam a lógica e a computação através da exercitação.</p>
                        <div class="btn-comece-ja">
                            <a href="{{ url_for('cadastrar') }}" class="botao entrar">Comece já!</a>
                        </div>
                    </div>
                    <div class="img-bem-vindo">
                        <img src="/static/imagem/seja bem vindo.png" alt="Ilustração do bem vindo" class="imagem-responsiva">
                    </div>
                </div>
            </div>
        </section>

        <section class="como-funciona">
            <div class="interface">
                <h2>Como funciona?</h2>
                <p>+LogProp é um ambiente para os alunos que os alunos exercitem os conteúdos de lógica proposicional, as questões foram retiradas do banco de questões do ENADE (Exame Nacional de Desempenho dos Estudantes) e POSCOMP (Exame Nacional para Programas de Pós graduação em Computação). Cada nível possui 10 questões e é necessário completar o mesmo nível 5 vezes para avançar para o próximo. Em caso de resposta errada o estudante poderá consultar nossa IA que lhe dará a explicação de como solucionar o problema.</p>
            </div>
        </section>
            
        <section class="sobre-nos">
            <div class="interface">
                <h2>Sobre nós</h2>
                <p>A Plataforma Web +LogProp foi desenvolvido pelos estudantes da Universidade Estadual do Amazonas - Escola Superior de Tecnologia (UEA-EST) como um objeto de avaliação para a matéria de Fundamentos de Software Educacional (FSE). Nosso grupo considerou a alta taxa de retenção nos cursos de computação na matéria de Matemática Discreta (MD) e criou esta plataforma para auxiliar o aprendizado dos alunos no assunto de lógica matemática(proposicional), por meio de uma metodologia de aprendizagem sequencial a plataforma disponibiliza uma série de questões para que o aluno possa exercitar o conteúdo recebendo um feedback claro apontando que pontos devem ser reforçados.</p>
            </div>
        </section>

        <section class="sobre-dev">
            <div class="interface">
                <h2>Sobre os Desenvolvedores</h2>
                <div class="dev-grid">
                    <div class="dev-card">
                        <img src="/static/imagem/Arthur.png" alt="Foto do desenvolvedor Arthur" class="imagem-responsiva">
                        <h3>Arthur</h3>
                        <p>Design & Desenvolvimento</p>
                    </div>
                    <div class="dev-card">
                        <img src="/static/imagem/Daniela.png" alt="Foto da desenvolvedora Daniela" class="imagem-responsiva">
                        <h3>Daniela</h3>
                        <p>Design & Desenvolvimento</p>
                    </div>
                    <div class="dev-card">
                        <img src="/static/imagem/Emanuele.png" alt="Foto da desenvolvedora Emanuele" class="imagem-responsiva">
                        <h3>Emanuele</h3>
                        <p>Design & Desenvolvimento</p>
                    </div>
                    <div class="dev-card">
                        <img src="/static/imagem/Junior.png" alt="Foto do desenvolvedor Junior" class="imagem-responsiva">
                        <h3>Junior</h3>
                        <p>Design & Desenvolvimento</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>